<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragment :: head('Create New Post')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>

<div class="main">
    <div class="form-control">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-md-offset-2">

                    <h1>Create post</h1>

                    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">

                        <div class="form-group">
                            <label for="title">Title <span class="require">*</span></label>
                            <input th:field="*{title}" type="text" class="form-control" id="title"/>
                        </div>

                        <div class="form-group">
                            <label for="body">Body</label>
                            <textarea th:field="*{body}" name="body" rows="5" class="form-control" id="body"></textarea>
                        </div>

                        <div class="form-group">
                            <p><span class="require">*</span> - required fields</p>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="createPost" class="btn btn-primary">
                                Create
                            </button>
                            <label for="user">Choose User <span class="require">*</span></label>
                            <select name="user" id="user" class="custom-select">
                                <option th:each="user : ${users}" th:text="${user.username}" th:value="${user.id}"></option>
                            </select>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>